test-results/
/tmp/leanote-of-unofficial
/release/
/github-release/
/target/
/none
/public/upload
/app/routes/routes.go
/app/tmp
.DS_Store
.settings
.project
public/config.codekit
/node_modules
.idea
*.iml
/target/
leanote.log
/5368c1aa99c37b029d000001
/backup-origins
